header {
    text-align: center;
    background-color:rgb(0, 0, 0) ;
    padding: 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

body{
    display: grid;
    grid-template-areas: "header header header header header"
                         "aside main main main main";
    background-color:white;
}

header{
    grid-area: header;
}


aside {
    background-color: #f0f0f0; 
    padding: 20px; 
  }
  
  aside a {
    display: block; 
    margin-bottom: 10px; 
    padding: 10px; 
    color: #333; 
    text-decoration: none;
  }
  


main{
    grid-area: main;
}

article{
    
    background-color: white;
    margin-bottom: 40px;
}


.hastag {
    margin-top: 10px;
    color: #777;
}



a{
    color:dodgerblue;
}